body {
  background: gray;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title {
  background: #7dbfeb;
  margin-bottom: 10px;
  margin-top: 0px;
  padding: 10px;
}

.content {
  background: #7dbfeb;
  padding: 10px;
}

.button-container {
  background: #7dbfeb;
  display: block;
  margin-top: 10px;
  padding-left: 150px;
  padding-bottom: 10px;
  padding-top: 10px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin-left: -30px;
  padding-left: 10px;
  padding-right: 10px;
}
